.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: var(--text);
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: white;
    font-size: 16px;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}
.navbar button:hover{
    background-color: var(--primary);
    color: white;
}

.navbar button:hover{
    opacity: 0.9;
    transform: scale(1.05);
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 12px 25px;
    border-radius: 8px;
    border: 1px solid var(--border);
    outline: none;
    list-style: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img,
.nav-dropdown-icon {
    width: 20px;
    font-size: 18px;
    color: var(--primary);
}
.nav-profile-dropdown li:hover{
    color: var(--primary);
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 170px;
    } 
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px) {
    .navbar .logo{
        width: 170px;
    } 
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px) { 
    .navbar-menu{
        display: none;
    }
}